.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: x-large;
  margin-bottom: 2rem;
}

.track {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.searchForm {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none */
.searchInput {
  width: 100%;
  border-radius: 25px;
  border: 2px solid #e5e7eb;
  background-color: #fff;
  font-size: 1.2rem;
  outline: none;
}

.trackList {
  list-style: none;
}
